footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(92, 91, 91);
}
.footer_main_section {
  display: flex;
  gap: 1rem;
}
.social_media_logo {
  height: 14vh;
}
