main {
  display: flex;
  flex: 5;
}
.main_section_div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main_section_content {
  display: flex;
  flex: 1;
  height: 30%;
  width: 50%;
}
.headshot {
  flex: 1;
  height: 34vh;
  width: 5vh;
  object-fit: cover;
}
.main_section_content_two {
  flex: 1;
}
.main_section_content_first_left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main_section_content_first_left_header {
  flex: 1;
}
.main_section_content_first_left_paragraph {
  flex: 5;
}
