/* THIS IS FOR HOME */
.home_main {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: rgb(7, 159, 209);
}
.home_main_section_content {
  display: flex;
  flex: 1;
  height: 100%;
  width: 80%;
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  background-color: blue;
  color: white;
  font-family: sans-serif;
}
.home_headshot {
  flex: 1;
  height: 34vh;
  width: 5vh;
  object-fit: contain;
}
.home_main_section_content_two {
  flex: 1;
  height: 100%;
  width: 80%;
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  background-color: blue;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}
.home_main_section_content_first_left {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.5rem;
}
.home_main_section_content_first_left_header {
  flex: 1;
  font-size: 2rem;
}
.home_main_section_content_first_left_paragraph {
  flex: 5;
}

/* THIS IS FOR ABOUT */
.about_main {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: rgb(7, 159, 209);
  overflow-x: scroll;
}
.about_top_header {
  flex: 5;
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  width: 80%;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: blue;
}
.about_content_sections {
  flex: 3;
  flex-direction: column;
}
.about_image {
  flex: 1;
  height: 30vh;
  width: 3vh;
  object-fit: fill;
}
.about_main_section_content_first_left {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.5rem;
}
.about_main_section_content {
  display: flex;
  flex: 1;
  width: 80%;
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  background-color: blue;
  color: white;
  font-family: sans-serif;
}
.about_main_section_content_two {
  flex: 1;
  width: 80%;
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  background-color: blue;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}
.about_main_section_header {
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  width: 80%;
  color: white;
  font-family: sans-serif;
  background-color: blue;
}
/* PORTFOLIO PAGE CSS */
.portfolio_main {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: rgb(7, 159, 209);
  overflow-x: scroll;
}
.portfolio_top_header {
  flex: 5;
  margin-left: 9rem;
  margin-right: 5rem;
  padding: 1rem;
  width: 80%;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: blue;
}
